# Werkzeuge/Editor
.idea/
.DS_Store

# Python-Bytecode
__pycache__/
*.pyc
*.pyo

# Build/Dist
dist/
build/

# Dein lokales Style-Tool
style_check/
style_check/node_modules/

# Auto-Versions-Backups (vom Tool)
.auto_versions/
